@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url(../webfonts/IBMPlexSans-Regular.ttf);
}
@font-face {
  font-family: 'Caveat-Bold';
  src: url(../webfonts/Caveat-Bold.ttf);
}

html, body {
  height: 100%;
}

body {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  flex-direction: row;
  font-size: 20px;
  background-color: #eaeaea;
  font-family: 'IBM-Plex-Sans';
}

input:focus {
    border-color: #AB0037 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

button:focus {
    border-color: none !important;
    background-color: #AB0000;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    background-color: #fff;
}
.form-signin .btn-primary {
    background-color: #AB0037;
    border-color: #AB0037;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 40px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-logo {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.main-container {
  width: 90%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  background-color: #fff;
}

.side-bar {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  padding: 40px;
}
.side-bar .btn-adm {
  color: #000;
  text-decoration: none;
}

.msg-head {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  flex-direction: column;
  align-items: center;

}
.msg-head .side-title {
  border-top: 1px solid #e5e5e5;
  margin: 10px 0 20px 0;
  padding: 10px;
  font-weight: 500;
}
.msg-head .btn-post-msg {
  width: 100%;
  text-align: center;
  background-color: #AB0037;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  border: none;
  outline: none;
}
.msg-head .btn-post-msg:hover {
  background-color: #363636;  
  cursor: pointer;
}
.msg-head .side-description {
  text-align: justify;
  word-break: break-all;
}

.msg-container {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  background-color: #373742;
  padding: 50px 70px 20px 70px;
  overflow-y: auto;
}
.msg-container .msg-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.msg-container ul li {
  list-style: none;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  align-items: center;
  justify-content: center;
}
.msg-container ul.msg-pagination li {
  width: 40px;
  height: 40px;
  padding: 15px;
}
.msg-container ul li.active {
  background-color: #AB0037;
  font-weight: 500;
  border-radius: 100%;
}
.msg-container ul li:not(.active):not(:last-child):not(:first-child) a:hover {
  border-bottom: 1px solid #fff;
}
.msg-container a {
  color: #fff;
  text-decoration: none;
}
.msg-container .msg-pagination {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  padding: 0;
  margin: 0;
}

.msg-row {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  flex-direction: row;
  justify-content: space-between;
}
.msg-item {
  width: 45%;
  color: #fff;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  flex-direction: column;
  margin-bottom: 40px;
}
p.msg-content {
  text-align: justify;
  word-break: break-all;
}
.msg-footer {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  flex-direction: row;
  justify-content: space-between;
}
p.msg-author {
  margin: 0;
  font-weight: 500;
  font-family: Caveat-Bold;
  font-size: 20px;
}
.msg-date {
  margin: 0;
  font-size: 12px;
  color: #b6b6b6;
}
.msg-options {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  flex-direction: row;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}
.msg-options li {
  margin: 3px;
  padding: 10px;
  width: 25px;
  height: 25px;
  background-color: #AB0037;
  border-radius: 100%;
  font-size: 12px;
  line-height: 12px;
}

.modal-alert {
  display: none;
}

.modal-alert.active {
  display: block;
}

#deleteModal .modal-header{
  background-color: #AB0037;
  color: #fff;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #656565;
}

@media (max-width: 1200px) { 
  
  
  .side-bar {
    width: 30%;
  }
  .msg-container {
    width: 70%;
    padding: 50px 50px 20px 50px;
  }
}

@media (max-width: 992px) { 
  html, body {
    height: auto;
  }
  .side-bar {
    width: 40%;
  }
  .msg-container {
    width: 60%;
  }
  .msg-row {
    flex-direction: column;
  }
  .msg-item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main-container {
    width: 100%;
  }
  .side-bar {
    width: 40%;
    padding: 40px 30px;
  }
  .msg-container {
    width: 60%;
    padding: 50px 50px 20px 50px;
  }
  .msg-row {
    flex-direction: column;
  }
  .msg-item {
    width: 100%;
  }
}

@media (max-width: 576px) { 
  .main-container {
    flex-direction: column;
  }
  .side-bar {
    width: 100%;
    flex-direction: column-reverse;
    padding: 40px 70px;
  }
  .msg-container {
    width: 100%;
    padding: 50px 70px 20px 70px;
  }
  .side-bar .btn-adm {
    text-align: right;
  }
}

@media (max-width: 420px) {
  .side-bar {    
    padding: 40px 30px;
  }
  .msg-container {
    padding: 50px 30px 20px 30px;
  }
}